<div class="container-fluid">
  <mat-card class="example-card1">
      <mat-card-header>
        <mat-card-title  style="margin-top: 3rem; 
        margin-left: 2rem;
        font-family: 'Andada'; 
        font-size: 2.3rem;"><b>Academics</b></mat-card-title>
        <mat-card-subtitle class="hello" style="margin-top: 1.5rem;"></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="margin-top: 2rem; text-align: left;">
            <br>
            <div class="row">
              <div class="col-sm-3">
                <div class="div1" >
                  <h4><b>2016 - 2020</b></h4>
                </div>    
                 <div class="div1">
                  <h4><b>2014 - 2016</b></h4>
                 </div>
                 <div class="div1">
                  <h4><b>2013 - 2014</b></h4>
                 </div>
              </div>
              <div class="col-sm-9" style="border-left: 2px solid #F44336;">
                  <div class="div2">
                    <h2>Bachelor’s Degree</h2>
                     <p>Completed Graduation and Pursued B.Tech Civil Engg. 
                       from Maharaja Ranjit Singh Punjab Technical University and scored 8.2 cgpa. </p> 
                  </div>
                  <div class="div2">
                    <h2>HSC</h2>
                     <p>Completed Higher Secondary School Education from Mahindra Public School with 79 %age. </p> 
                  </div>
                  <div class="div2" style="padding-top: 1.5rem;">
                    <h2>SSC</h2>
                     <p>Completed Secondary School Education from Lord Rama Public School with 8.4 cgpa.</p> 
                  </div>
              </div>
            </div>
      </mat-card-content>
    </mat-card>      
</div>

