<div class="container-fluid">
   <mat-card class="example-card1">
      <mat-card-header>
         <mat-card-title style="margin-top: 3rem; 
          margin-left: 2rem;
          font-family: 'Andada'; 
          font-size: 2.3rem;"><b>Covid-19 Live Tracker :</b></mat-card-title>
      </mat-card-header>
      <mat-card-content style="margin-top: 1.5rem; margin-left: 3rem;">
         <div class="row">
            <div class="col-sm-1" style="text-align: right;">
               <i class="material-icons">date_range</i>
            </div>
            <div class="col-sm-3" style="text-align: left;">
               <p>2019-2020</p>
            </div>
            <div class="col-sm-1" style="text-align: right;">
               <i class="material-icons">link</i>
            </div>
            <div class="col-sm-3" style="text-align: left;">
               <a href="https://covid19-tracker3.web.app/" 
               style="text-decoration: none; color: black;"
               target="_blank"
               >Vist Website</a>
            </div>
         </div>
         <br>
         <div class="row">
            <img src="../../../assets/covid.png"
            style="width: 80%; height: 18rem; float: left; position: relative;">
         </div>
         <br><br>
         <div class="row">
            <ul>
              <li>
               An Angular 9 application includes live Covid-19 data extraction from the API.
              </li>
              <li>
               Country-wise data representation.
              </li>
              <li>
               Graphical representation of data on daily basis for every selected country.
              </li>
            </ul>
         </div>   
      </mat-card-content>
   </mat-card>
</div>