<div class="container-fluid">
    <mat-card class="example-card1">
        <mat-card-header>
          <mat-card-title  style="margin-top: 3rem; 
          font-family: 'Andada'; 
          font-size: 2.3rem;"><b>About Me</b></mat-card-title>
          <mat-card-subtitle class="hello" style="margin-top: 1.5rem;"></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="margin-top: 4rem;">
          <div class="row">
            <div class="col-sm-3">
              <div mat-card-avatar class="example-header-image1"></div>
            </div>
            <div class="col-sm-9" style="text-align: left;">
              <p style="font-family: 'Andada'; 
              font-size: 2rem;"
              ><b>Hello,</b></p>
              <br>
              <p style="margin-right: 3rem;"> <strong>I'm Kunal Goyal, a Frontend Developer.</strong> I have expertise in website 
                 designing, building and cutomization. Lover of Inovation and everything related to
                  generate new Knowledge. Face problems with a smile & solve them as soon as possible. 
                  Believes in Smart Work along with Hard Work.
              </p>
              <br>
              <div class="row">
                <div class="col-sm-5">
                  Name: <b>Kunal Goyal</b>
                </div>
                <div class="col-sm-6" style="text-align:left;">
                  Location: <b>Bathinda,Punjab</b>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-5">
                  Birthday: <b>02-sept.-1998</b>
                </div>
                <div class="col-sm-6" style="text-align:left;">
                  Email: <b>goyalk0002@gmail.com</b>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
        <br>
        <mat-card-actions>
         <a href="../../assets/resume.pdf" download>
          <button mat-raised-button color="warn"  class="but"><mat-icon>cloud_download</mat-icon> Download CV</button>
         </a>
         <button mat-raised-button routerLink="/contact" color="primary" class="but"><mat-icon>mail</mat-icon> Hire Me</button>
        </mat-card-actions>
      </mat-card>      
</div>

