<div class="container-fluid-sm">
  <mat-card class="example-card1">
    <mat-card-header>
      <mat-card-title style="margin-top: 3rem; 
        margin-left: 2rem;
        font-family: 'Andada'; 
        font-size: 2.3rem;"><b>Get in touch</b></mat-card-title>
      <mat-card-subtitle class="hello" style="margin-top: 1.5rem;"></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="margin-top: 4rem; text-align: left; position:relative">
      <br>
      <div class="row" style="margin-left: 2rem;">
        <div class="col-sm-3.5" >
          <div class="row">
            <div class="col">
              <i class="material-icons" style="font-size: 1.8rem; color: #F44336;">call</i>
            </div>
            <div class="col" style="margin-right: 8rem;">
              <h2><b>Phone</b></h2>
              <p>+917589062400</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <i class="material-icons" style="font-size: 1.8rem; color: #F44336;">mail_outline</i>
            </div>
            <div class="col" style="margin-right: 5rem;">
              <h2><b>E-mail Address</b></h2>
              <p>goyalk0002@gmail.com</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <i class="material-icons" style="font-size: 1.8rem; color: #F44336;">location_on</i>
            </div>
            <div class="col">
              <h2 style="margin-right: 9.5rem;"><b>Location</b></h2>
              <p>Bathinda,Punjab</p>
            </div>
          </div>
        </div>
        <div class="col" style="text-align: left;">
          <form [formGroup]="contactform" (ngSubmit)="onsubmit()">
            <div class="row">
              <div class="col">
                <mat-form-field style="width: 80%;" color="warn">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name" placeholder="Ex. Abc">
                  <mat-error *ngIf="name.hasError('required')">
                    Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field style="width: 80%;" color="warn">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" placeholder="Ex. pat@example.com">
                  <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="email.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col" >
                <mat-form-field style="width: 90%" color="warn">
                  <mat-label>Subject</mat-label>
                  <input matInput formControlName="subject">
                </mat-form-field>
              </div>
            </div>
            <div class="row" >
              <div class="col">
                <mat-form-field style="width: 90%" color="warn">
                  <mat-label>Message</mat-label>
                  <textarea formControlName="message" rows="6" matInput 
                  placeholder="Ex. Hello....."></textarea>
                </mat-form-field>
              </div>        
            </div>
            <button type="submit" 
            (click)="openSnackBar('Message Sent','Dismiss')"
            [disabled]="!contactform.valid" 
            mat-raised-button class="but" 
            color="warn">Submit Message</button>
          </form>    
        </div>
      </div>
      <br><br><br>
    </mat-card-content>
  </mat-card>
</div>