<div class="container-fluid">
   <mat-card class="example-card1">
      <mat-card-header>
         <mat-card-title style="margin-top: 3rem; 
          margin-left: 2rem;
          font-family: 'Andada'; 
          font-size: 2.3rem;"><b>Covid-19 Live Tracker :</b></mat-card-title>
      </mat-card-header>
      <mat-card-content style="margin-top: 1.5rem; margin-left: 3rem;">
         <div class="row">
            <div class="col-sm-1" style="text-align: right;">
               <i class="material-icons">date_range</i>
            </div>
            <div class="col-sm-3" style="text-align: left;">
               <p>2019-2020</p>
            </div>
            <div class="col-sm-1" style="text-align: right;">
               <i class="material-icons">link</i>
            </div>
            <div class="col-sm-3" style="text-align: left;">
               <a href="https://goyalsons.000webhostapp.com/" 
               style="text-decoration: none; color: black;"
               target="_blank"
               >Vist Website</a>
            </div>
         </div>
         <br>
         <div class="row">
            <img src="../../../assets/shopping.jpg"
            style="width: 80%; height: 18rem; float: left; position: relative;">
         </div>
         <br><br>
         <div class="row">
            <ul>
              <li>
                Includes complete functionality of a shopping site as a customer and as an admin.
              </li>
              <li>
                Customers can see the home page having description of the products with prices with the
                access to their individual Cart and Wishlist.
              </li>
              <li>
                Admin can access the authorized features like adding new products, deleting existing
                products and changing the description and prices of the existing products available to the
                customers.
              </li>
              <li>
                Separate databases are maintained for all end users and admin.
              </li>
            </ul>
         </div>   
      </mat-card-content>
   </mat-card>
</div>
