<div class="container-fluid">
  <mat-card class="example-card1">
      <mat-card-header>
        <mat-card-title  style="margin-top: 3rem; 
        margin-left: 2rem;
        font-family: 'Andada'; 
        font-size: 2.3rem;"><b>My Skills</b></mat-card-title>
        <mat-card-subtitle class="hello" style="margin-top: 1.5rem;"></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="text-align: left;">
            <br>
            <p style="margin-right: 2rem; margin-left: 3rem;">
              Despite being a student of Civil Engineering, i realised my inclination towards Computer Technologies. There! i started chasing my interests, bit late but Better than Never. Here are some of the 
              skills i accquired till now, to push my-self one step ahead towards my goal:    
            </p>
            <br><br><br>
            <div class="row" style="margin-left: 2rem; margin-right: 2rem;">
              <div class="col-sm-6">
                <b>HTML & CSS</b>
                <span style="float: right;">90%</span>
              </div>
              <div class="col-sm-6" style="text-align:left; ">
                <b>Angular 9</b>
                <span style="float: right;">85%</span>
              </div>
            </div>
            <br>
            <div class="row" style="margin-left: 2rem; margin-right: 2rem;">
              <div class="col-sm-6">
                <mat-progress-bar color="warn" mode="determinate" value="90"></mat-progress-bar>
              </div>
              <div class="col-sm-6" style="text-align:left;">
                <mat-progress-bar color="warn" mode="determinate" value="80"></mat-progress-bar>
              </div>
            </div>
            <br><br>
            <div class="row" style="margin-left: 2rem; margin-right: 2rem;">
              <div class="col-sm-6">
                <b>Javascript</b>
                <span style="float: right;">80%</span>
              </div>
              <div class="col-sm-6" style="text-align:left;">
                <b>PHP</b>
                <span style="float: right;">95%</span>
              </div>
            </div>
            <br>
            <div class="row" style="margin-left: 2rem; margin-right: 2rem;">
              <div class="col-sm-6">
                <mat-progress-bar color="warn" mode="determinate" value="80"></mat-progress-bar>
              </div>
              <div class="col-sm-6" style="text-align:left;">
                <mat-progress-bar color="warn" mode="determinate" value="95"></mat-progress-bar>
              </div>
            </div>
            <br><br>
            <div class="row" style="margin-left: 2rem; margin-right: 2rem;">
              <div class="col-sm-6">
                <b>Bootstrap & Angular Material</b>
                <span style="float: right;">85%</span>
              </div>
              <div class="col-sm-6" style="text-align:left;">
                <b>My SQL</b>
                <span style="float: right;">88%</span>
              </div>
            </div>
            <br>
            <div class="row" style="margin-left: 2rem; margin-right: 2rem;">
              <div class="col-sm-6">
                <mat-progress-bar color="warn" mode="determinate" value="85"></mat-progress-bar>
              </div>
              <div class="col-sm-6" style="text-align:left;">
                <mat-progress-bar color="warn" mode="determinate" value="88"></mat-progress-bar>
              </div>
            </div>
      </mat-card-content>
    </mat-card>      
</div>

