<div class="container-fluid">
    <mat-card class="example-card1">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content style="margin-top: 12rem; margin-left: 5rem; margin-right: 5rem;">
            <p style="font-family: 'Andada'; font-size: 3rem;"><b>I'm Kunal Goyal<strong style="color: #F44336; font-size: 5rem;">.</strong></b></p>
            <br>
        <p>
            Want to be in highly challenging position, where I can apply knowledge of IT, 
            acquire new Skills and work closely with a Team of highly experienced professionals.
        </p>
        </mat-card-content>
        <mat-card-actions style="margin-left: 5rem;">
         <button mat-raised-button routerLink="/about" class="but" color="warn"><mat-icon>widgets</mat-icon> View Portfolio</button>
        </mat-card-actions>
      </mat-card>      
</div>
